<input (change)="onChange($event)" #fileInput type="file" hidden (change)="nomeArquivo.set(fileInput.value)">

<label for="campo-texto" class="texto-textfield">{{texto}}</label>
<div class="container-texto" (click)="fileInput.click()">

    <div>
        @if(!nomeArquivo()) {
            <p class="campo-texto-placeholder">{{textoPlaceholder}}</p>
        } @else{
            <p class="campo-texto" id="campo-texto">{{nomeArquivo()}}</p>   
        }
    </div>
    
    <fa-icon [icon]="faUpload"></fa-icon>
</div>