.footer{
    display: block;
    background-color: #6A33CA;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 12px;    
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer p {
    display: inline;
    margin-left: 30px;
    color: white;
    font-weight: normal;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
}

.footer p fa-icon {
    color: white;
    font-size: 20px!important;
}