.logo {
    height: 60px;
    width: 120px;
    display: inline-block;
}

.logo a{
    cursor: pointer;
}

.header {
    padding: 30px 30px 15px 30px;
    background-color: #EAEAEA;
}

.user {
    float: right;
}

.user h3 {
    display: inline-block;
    color: #8f8f8f;
    font-size: 13px;
}

#icon-deslogar {
    color: #8f8f8f;
    font-size: 18px;
    margin-left: 15px;
}

#icon-deslogar:hover {
    cursor: pointer;
    color: #6A33CA;
}