.container {
    padding-bottom: 100px;
}

.area-adicionar{
  margin-bottom: 40px;
}

.nome-categoria{
    font-weight: bold;
    margin-bottom: 20px;
    color: #3E374B;
    font-size: 20px;
    margin-right: 10px;    
    display: inline-block;
    width: 100%;
}

.nenhum {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  opacity: 0.5;
}

.nenhum p {
  margin-top: 10px;
}

.container-categoria{
  margin-bottom: 40px;
}

.cabecalho-categoria{
  display: flex;
}

.cabecalho-categoria fa-icon{
  cursor: pointer;
  font-size: 16px;
}

.item-box{
  cursor: grab;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.03),
    0 8px 10px 1px rgba(0, 0, 0, 0.03),
    0 3px 14px 2px rgba(0, 0, 0, 0.03);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}