<app-header></app-header>

<div class="container-conteudo">
    <div class="container"> 

        @if(carregando()) {
            <p>Carregando...</p>
            <mat-progress-bar mode="query"></mat-progress-bar>
        } @else {
            <div class="right area-adicionar">
                <app-button texto="Cadastrar item" (click)="cadastrarItem()"></app-button>
            </div>

            @if(categorias().length > 0) {
                @for (categoria of categorias(); track $index) {
                    @if(categoria.itensAdicionados.length > 0) {                        
                        <div class="container-categoria">
                            <div class="cabecalho-categoria">
                                <p class="nome-categoria">{{categoria.descricao}}</p>
                                <fa-icon [icon]="faAngleDown" (click)="abaixarCategoria(categoria)"></fa-icon>
                                <fa-icon [icon]="faAngleUp" (click)="subirCategoria(categoria)"></fa-icon>
                            </div>
                            
                            <div cdkDropList (cdkDropListDropped)="drop( categoria , $event)">
                                @for (item of categoria.itensAdicionados; track $index) {                    
                                    <div class="item-box" cdkDrag>
                                        <app-card-item-cardapio [modal]="modal_deletar" [modalDeletarItem]="app_modal_deletar_item" [item]="item"></app-card-item-cardapio>
                                    </div>                    
                                }
                            </div>
                        
                        </div>
                    }            
                } 
            } @else {                
                <div class="nenhum">
                    <img [src]="'/imgs/not-found.png'">
                    <p>Nenhum item adicionado</p>
                </div>                
            }
             
        }

        
    </div>
</div>


<app-modal #modal_deletar class="modal-deletar">
    <app-modal-sim-nao #app_modal_deletar_item [modal]="modal_deletar" mensagem="Deseja remover o item selecionado?"></app-modal-sim-nao>
</app-modal>

<footer></footer>