@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

body {
    margin: 0;
    background-color: #eaeaea!important;
    min-height: 100%;
}

html {
    height: 100%!important;
    background-color: #f7f7f7;
}

* {
    font-family: "Inter";
    margin: 0;
}

p {
    margin-bottom: 0;
}

textarea, input { outline: none; }

.mat-horizontal-stepper-header-container {
    display: none!important;
}

.ng-select-container{
    border: 0!important;
}

.mat-horizontal-content-container {
    overflow-y: visible!important;
}

.ng-select-container{
    background-color: transparent!important;
}

hr {
    border-color: #c0c0c0!important;
}

.right {
    text-align: right;
}

.container-conteudo{
    min-height: calc(100% - 207px);
    background-color: #F4F4F4;
}