.container-conteudo {
    padding: 20px;
}
.titulo {
    font-size: 16px;
    color: #6A33CA;
}

.cabecalho-tela {
  background-color: #eaeaea;
}

.cabecalho-tela p {
  display: inline-block;
  color: #3E374B;
  margin-left: 30px;
  margin-bottom: 20px;
  color: #6A33CA;
}

.container-restaurantes {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;   
    display: flex;
    flex-wrap: wrap;
    padding: 45px;
}

.bt-adicionar{
    background-color: #EAEAEA;
    display: inline-block;
    border-radius: 100%;
    min-width: 160px;
    width: 160px;
    height: 160px;
    text-align: center;
    margin: 35px 30px 10px 20px;
    border: 0px;
}

.bt-adicionar:hover {
    cursor: pointer;
}

.bt-adicionar fa-icon {
    font-size: 60px;
    color: #77757B;
}