.area-campos textfield {
    display: inline-block;
}

.area-campos .col-md-12{
    margin-top: 10px;
}

.col-md-3 {
    padding-left: 10px;
}

.container {
    text-align: center;
}

.container-selecao {
    background-color: white;
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
    margin-left: 10px;
    min-width: 600px;
    text-align: left;
}

.container-conteudo {
    padding-top: 30px;
}

.container-imagem {
    display: flex;
    margin-top: 0!important;
}

.container-imagem app-file-chooser{    
    width: calc(100% - 70px);
}

.container-imagem img {
    width: 55px;
    margin-left: 15px;
}

.container-campos div {
    display: inline-block;
}

.titulo {
    margin-bottom: 20px;
    color: #3E374B;
    font-size: 18px;
    font-weight: bold;
}

.area-subitem{
    margin-top: 20px;
    margin-bottom: 30px;
}

.area-botoes{
    text-align: right;
    margin-top: 20px;
}

.area-botoes app-button:first-child {
    margin-right: 10px;
}